body {
    background: url("img/futuground.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  img {
      margin-right: 20px;
      width: 40%;
      height: auto ;
      
  }

  p {
      font-family: monospace;
      font-size: large;
      /* text-align: center;
      text-align: left;
      text-align: right;
      text-align: justify; */
      
      
      
  }

h1, h2, h3 {
    
    font-family: sans-serif;
    font-size:xx-large;
}

